.autocomplete-suggestions {
	border: 1px solid #999;
	background: #FFF;
	overflow: auto;
}

.autocomplete-suggestion {
	padding: 5px 8px;
	white-space: nowrap;
	overflow: hidden;
	font-weight: 500;
}

.autocomplete-selected {
	background: #eee;
}

.autocomplete-suggestions strong {
	font-weight: 900;
	color: #5fb760;
}

.autocomplete-group {
	padding: 2px 5px;
}

.autocomplete-group strong {
	display: block;
	border-bottom: 1px solid #000;
}

.container {
	max-width: 800px;
}

.welcome-panel {
	margin-top: 20px;
	border-color: #377bb5;
}
.loan-panel {
	margin-top: 20px;
	border-color: #3e753f;
}

.loan-panel h4 {
	margin-top: 2px;
	margin-bottom: 2px;
}
.panel-well {
	padding: 10px 40px 40px 40px;
}

.panel-well .input-group .form-control {
	font-size: 18px !important;
	font-weight: 500;
}

.panel-well h2 {
	margin-bottom: 20px;
}

.label-student-id {
	font-size: 11px;
	margin-left: 10px;
/*	color: #377bb5;
	background-color: #fff;
	border: 1px solid #377bb5;
*/}

.no-items {
	text-align: center;
	vertical-align: middle !important;
	height: 100px;
}
.db-menu .list-group-item {
	padding: 10px 10px;
}
.navbar-brand {
	font-weight: bold;
}

.navbar-default {
	background-color: #f5f5f5;
	margin: 0px;
	margin-bottom: 20px;
}

.nav-tabs>li>a, .nav-tabs>li>a:hover {
	color: #777;
	border-color: transparent;
	border-width: 3px 1px 1px;
	padding: 9px 15px;
}

.nav-tabs>li>a:hover {
	color: #333;
	text-decoration: none
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover {
	color: #111;
	background-color: #fff;
	border-color: #d26911 #e5e5e5 transparent;
	border-width: 3px 1px 1px;
	padding: 9px 15px;
}

.nav-tabs>li.active.single-tab>a, .nav-tabs>li.active.single-tab>a:hover {
	border-color: #e5e5e5 #e5e5e5 transparent;
	border-width: 1px 1px 1px;
}

.nav-tabs {
	border-bottom: none;
}

.tab-badge {
	margin-left: 6px;
	color: #555;
	background-color: #eee;
	padding: 2px 5px;
	border: 1px solid #999;
}

table.dataTable.currentTable, .historyTable {
	margin-top: 20px !important;
	border-collapse: collapse !important;
}

.currentTable thead>tr{
	border: 1px solid #c9e6f2;
}

.historyTable thead>tr{
	border: 1px solid #ddd !important;
}

.currentTable.table>thead>tr>th {
	border-top: 1px solid #c9e6f2;
	border-bottom: 1px solid #c9e6f2 !important;
}

.table.dataTable {
	border-collapse: collapse !important;
}

table.currentTable >thead>tr>th {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.historyTable tbody>tr {
	border: 1px solid #ddd;
}

.currentTable tbody>tr {
	border: 1px solid #ddd;
}

.currentTable thead {
	color: #555;
	background-color: #f2f9fc;
}

.historyTable thead {
	color: #555;
	background-color: #f5f5f5;
}

.nav>li>a:hover {
	background-color: inherit;
	border-color: transparent;
}

.resource-metadata {
	margin-bottom: 12px;
}

.resource-head {
/*	background-color: #fafafa;
*/
	padding-bottom: 20px;
}

body {
	font-family: -apple-system, 'Lato';
	background-color: #fff;
}

#addStudentModal .form-group, #addResourceModal .form-group {
  padding: 0px 15px;
}

.panel-heading h3 {
	margin-top: 0px;
}

.panel-heading {
	font-size: 14px;
	font-weight: bold;
}

.table-row {
	position:relative;
}

.table-text {
	color: #777;
}

.tab-content {
	padding-top: 20px;
}

.btn.outline {
	background: none;
}

.btn-muted.outline {
	border: 1px solid #AAA;
	color: #AAA;
}

.btn-muted-danger.outline:hover {
	border: 1px solid #b92c28;
	color: #d9534f;
}

.inventory-tag {
	padding-left: 6px;
}

.category {
	padding-right: 6px;
}

.summary-count h2 {
	margin: 0px;
}

.fa-btn {
	margin-right: 6px;
}

.details-header {
	padding-bottom: 0;
	background-color: #fafafa;
	border-bottom: 1px solid #eee;
	margin-right: -15px;
	margin-top: -20px;
	padding-top: 20px;
}

.sub-header {
	margin-bottom: 20px;
}

.sub-header h3 {
	margin-top: 0px;
}

.sub-header .label {
	vertical-align: text-top;
}

.panel>.table th:first-child, .panel>.table td:first-child {
	padding-left: 15px;
}

.panel>.table th:last-child, .panel>.table td:last-child {
	padding-right: 15px;
}
